<!DOCTYPE html>
<html>

<head>
    <title>Gemini AI Django</title>
</head>

<body>

    <h2>Ask Gemini</h2>

    <input type="text" id="prompt" placeholder="Ask something">
    <button onclick="askAI()">Send</button>

    <p><b>Response:</b></p>
    <p id="result"></p>

    <script>
        async function askAI() {

            const prompt = document.getElementById("prompt").value;

            const response = await fetch("/generate/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ prompt: prompt })
            });

            const data = await response.json();

            document.getElementById("result").innerText = data.response;
        }
    </script>

</body>

</html>